altair
attrs
beautifulsoup4
bert-score
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
filelock
fonttools
fsspec
gitdb
GitPython
hf-xet
huggingface-hub
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mpmath
narwhals
networkx
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pyparsing
python-dateutil
pytz
PyYAML
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
smmap
soupsieve
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing_extensions
tzdata
urllib3
wheel
langchain
langchain-community
langchain-google-genai
python-dotenv
